<!DOCTYPE html>
<html lang="en">



<head>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>You Can Reach Me Here</title>

<script src="https://cdn.jsdelivr.net/npm/peerjs@0.3.20/dist/peer.min.js"></script>

<link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />

<style>

body.on-call #call {
	display: none;
}

</style>

</head>



<body>

	<div id="messages">
		<marquee class="video"><pre>Waiting for camera access...</pre></marquee>
		<marquee class="peer"><pre>Waiting for network access...</pre></marquee>
	</div>

	<div id="videos">

		<figure class="you">
			<video id="you"></video>
			<label id="yourId"></label>
		</figure>

		<figure class="me">
			<video id="me" muted="true"></video>
			<label id="myId"></label>
		</figure>

	</div>

	<button id="call">Call</button>

	<script>
		// GLOBALS
		var YOUR_ID = "<%= id %>",
			MY_ID = "<%= myId %>";
	</script>
	<script src="javascripts/call.js" type="module"></script>

</body>

</html>
