<!DOCTYPE html>
<html lang="en">



<head>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>You Can Reach Me Here</title>

<script src="https://cdn.jsdelivr.net/npm/peerjs@0.3.20/dist/peer.min.js"></script>

<style>

video {
	position: absolute;
	top: 0;
}

#me {
	transform: scaleX(-1);
	right: 0;
	width: 20%;
}
body.calling #me {
	display: none;
}
body.calling.interacting #me {
	display: block;
}

#you {
	width: 100%;
	max-width: 100vw;
	max-height: 100vh;
}
body.calling #you {
	display: none;
}

</style>

</head>



<body>

	<div id="videos">

		<figure class="me">
			<video id="me" muted="true"></video>
			<label id="myId"></label>
		</figure>

		<figure class="you">
			<video id="you"></video>
			<label id="yourId"></label>
		</figure>

	</div>

	<button id="call">Join</button>

	<script>
		// GLOBALS
		var YOUR_ID = "<%= id %>",
			MY_ID = "<%= myId %>";
	</script>
	<script src="javascripts/call.js" type="module"></script>

</body>

</html>
