<!DOCTYPE html>
<html lang="en">



<head>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>You Can Reach Me Here</title>


<script src="https://cdn.jsdelivr.net/npm/peerjs@0.3.20/dist/peer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>

<link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />

<style>

#generate, #generate .call-url {
	display: none;
}
body.peer-ready.stream-ready #generate {
	display: flex;
}
body.call-ready #generate .call-url {
	display: flex;
}
body.peer-ready.stream-ready.on-call #generate {
	display: none;
}

#generate {
	flex-direction: column;
	align-items: center;
}
#copy-text {
	margin: 0 1em;
}
#generate .call-url {
	align-items: center;
	border: 1px solid #eee;
	border-radius: 0.5em;
}
#generate .call-url button {
	display: inline-flex;
	padding: 0.5em 1em;
	background: #eee;
	border: none;
	border-radius: 0 0.5em 0.5em 0;
}
#generate .call-url button img {
	max-height: 1em;
}

figure.you {
	display: none;
}
body.on-call figure.you {
	display: flex;
}

</style>

</head>



<body>

	<div id="messages">
		<marquee class="video"><pre>Waiting for camera access...</pre></marquee>
		<marquee class="peer"><pre>Waiting for network access...</pre></marquee>
	</div>

	<div id="videos">

		<figure class="me">
			<video id="me" muted="true"></video>
			<label id="myId"></label>
		</figure>

		<figure class="you">
			<video id="you"></video>
			<label id="yourId"></label>
		</figure>

	</div>

	<div id="generate">
		<button>Generate URL</button>
		<div class="call-url">
			<pre id="copy-text"></pre>
			<button data-clipboard-target="#copy-text">
				<img src="/images/clippy.svg" alt="Copy to clipboard">
			</button>
		</div>
	</div>

	<script>
		// GLOBALS
		var MY_ID = "<%= myId %>";
	</script>
	<script src="javascripts/index.js" type="module"></script>

</body>

</html>
